.profile {
    width: 250px;
    height: 200px;
    border: #fff;
    border-width: 5px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border: 10px solid whitesmoke;
  }
  .img{
      padding: 10px;
      color: #fff;
      border: 4px solid #555;
  }
  .color {
    background-color: #375ec0;
    color: white;
  }
  .content1{
      padding-top: 20px;
  }
  .table{
      padding-top: 40px;
  }
  .prof{
      padding-left: 200px;
  }
